footer{
  display: flex;
  background: black;
  color: rgba(255,255,255, 0.7); 
  flex-direction: row;
  min-height: 30vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  & div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
  }
  & a{
    text-decoration: underline;
    font-size: 0.875rem;
    font-weight: 400;
    &:hover{
      cursor: pointer;
    }
  }
}
