.imageBackground{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 80vh;
  width: 100%;
}
.container{
  display: flex;
  position: relative;
  gap: 2vh;
  flex-direction: column;
  width: 40%;
  height: 60vh;
  padding: 10vh;
  color: white;
  font-size: 0.8rem;
}
.buttonWatch{
  background: rgba(255, 255, 255, 0.95);
  padding-left: 2rem;
  padding-right: 2.4rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 20vh;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  font-weight: bold;
  padding: 0.5rem;
}
.buttonMoreInfo{
  background: grey;
  padding-left: 2rem;
  padding-right: 2.4rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  padding: 0.5rem;
}
.icon{
  height: 1rem;
}
.iconInfo{
  height: 1rem;
  -webkit-filter: invert(1);
  filter: invert(1);
}
